<div class="container text-center">
	<br>
	<p>Copyright© 2023 
</div>
<!-- jQuery -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>